html{
    font-size: 62.5%;
    background-color: white;
}

*{
    padding: 5px;
    margin: 5px;
}

.colorRojo, .colorRojo nav ul li a{
    color:#6f0b00; 
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.colorRojo, .colorRojo header{
    list-style: none;
    text-align: center;
    margin: 0.2%;
}

header nav ul li{
    display: inline-block
}

header img{
    grid-area: logo;
}

header nav ul li{
    grid-area: nav;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #6c788e;
    text-align: center;
}

.graciasPorVisitarnos, .graciasPorVisitarnos iframe{
    text-align: center;
}

.graciasPorVisitarnos, .graciasPorVisitarnos p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    text-align: justify;
    padding: 25px;
    margin: 25px;
}

 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    text-align: justify;
}

h2{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    color: #6c788e;
}

.recetas, .recetas h2{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    color: #6c788e;
    text-align: left;
}

.recetas, .recetas ol li{
    font-family: sans-serif ;
    font-size: 25px;
    color: #6f0b00;
    text-align: left;
    list-style: none;
}
.recetas2, .recetas2 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    text-align: justify;
}

.recetas, .recetas img{
    text-align: center;
}


.column2, .column2 ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    list-style: none;
    text-align: justify;
}

.column3, .column3 ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    text-align: justify;
    list-style: none;
    justify-items: center;
}
   hr{
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.formularioContacto, .formularioContacto h1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #6c788e;
    text-align: center;
}


/*----------------------------- desktop ---------------------------*/

@media screen and (min-width: 1024px){

    header{
        display: grid;
        grid-template-areas: 
        "logo nav";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: right;
    }

    nav{
        display: grid;
        text-align: right;
    }

    .graciasPorVisitarnos{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        
    h1{
        display: flex;
        justify-content: center;
    }
        
    .quienesSomos{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        
    h2{
        display: flex;
        text-align: left;
    }
        
    ol li{
        display: flex;
        text-align: left;
    }
        
    .recetas2, .recetas2{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .column2 ul li{
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
    
}




/*----------------------------- mobile ---------------------------*/

@media screen and (max-width: 480px){

    header{
        display: grid;
        grid-template-areas: 
        "logo"
        "nav";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    h1{
        display: flex;
        text-align: center;
        font-size: 20px;
        justify-content: center;
    }

    .graciasPorVisitarnos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .graciasPorVisitarnos p{
        display: flex;
        text-align: center;
        font-size: 18px;
    }

    .graciasPorVisitarnos iframe{
        display: flex;
        width: 300px;
        height: 150px
    }

    h2{
        display: flex;
        text-align: left;
        font-size: 20px;
        justify-content: left;
    }

    .quienesSomos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .quienesSomos p{
        display: flex;
        text-align: justify;
        font-size: 18px;
        justify-content: center;
    }

    .quienesSomos img{
        display: flex;
        width: 200px;
        height: 200px
    }

    .recetas{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .recetas ol li{
        display: flex;
        justify-content: left;
        font-size: 18px;
    }

    .recetas2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .recetas2 p{
        display: flex;
        text-align: justify;
        font-size: 18px;
        justify-content: center;
    }

    .recetas2 img{
        display: flex;
        width: 250px;
        height: 150px;
    }

    .column1 img{
        display: flex;
        text-align: left;
        justify-content: space-between;
        width: 200px;
        height: 100px;
    }

    .column1, .column2{
        display: inline-block;
        align-items: center;
        justify-content: space-between;
    }

    .column3{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}




  /*----------------------------- tablet ---------------------------*/

@media screen and (max-width: 768px) {
    .colorRojo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .colorRojo img{
        display: flex;
        text-align: center;
    }
    .colorRojo nav{
        display: flex;
        flex-direction: column;
        align-items: stretch;  
    }

    
    h1{
        display: flex;
        text-align: center;
        font-size: 22px;
        justify-content: center;
    }

    .graciasPorVisitarnos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .graciasPorVisitarnos p{
        display: flex;
        text-align: center;
        font-size: 20px;
    }

    .graciasPorVisitarnos iframe{
        display: flex;
        width: 300px;
        height: 150px
    }

    h2{
        display: flex;
        text-align: left;
        font-size: 22px;
        justify-content: left;
    }

    .quienesSomos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .quienesSomos p{
        display: flex;
        text-align: justify;
        font-size: 20px;
        justify-content: center;
    }

    .quienesSomos img{
        display: flex;
        width: 200px;
        height: 200px
    }

    .recetas{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .recetas ol li{
        display: flex;
        justify-content: left;
        font-size: 20px;
    }

    .recetas2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .recetas2 p{
        display: flex;
        text-align: justify;
        font-size: 20px;
        justify-content: center;
    }

    .recetas2 img{
        display: flex;
        width: 250px;
        height: 150px;
    }

    .column1 img{
        display: flex;
        text-align: left;
        justify-content: space-between;
    }

    .column1, .column2{
        display: inline-block;
        align-items: center;
        justify-content: space-between;
    }

    .column3{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
