<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png">
    <script src="https://kit.fontawesome.com/7419093e5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Contacto</title>
</head>
<body>
    <header class="colorRojo">
        <img src="../img/logo.jpeg" alt="">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="">Conócenos</a></li>
                <li><a href="../views/recetas.html">Recetas</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="formularioContacto">Formulario de contacto</h1>

    <hr>

    <footer>
        <div class="column1">
            <img src="../img/logo.jpeg" alt="">
        </div>
        <div class="column2">
               <ul>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
               </ul>
            </div>
        <div class="column3">
                <ul>
                    <li><a href=""><i class="fa-solid fa-envelope"></i></a>plantenedor@gmail.com</li>
                    <li><a href=""><i class="fa-solid fa-copyright"></i></a>Powered by Valentino Olivieri</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>